{% extends 'base.html' %}

{% block title %}Вход{% endblock %}

{% block content %}
  <h2>Вход</h2>
  <form method="POST" action="">
    {{ form.hidden_tag() }}
    <div class="form-group">
      Имя пользователя: {{ form.username(class="form-control") }}
    </div>
    <div class="form-group">
      Пароль: {{ form.password(class="form-control") }}
    </div>
    <div class="form-group form-check">
      {{ form.remember_me(class="form-check-input") }} Запомнить меня
    </div>
    <button type="submit" class="btn btn-primary">Войти</button>
  </form>
{% endblock %}
